.buttunEffect {
  background: var(--brand);
  padding: 10px 20px;
  color: white;
  border-radius: 33px;
  text-decoration: none;
  display: inline-block;
}
.buttunEffect:hover {
  box-shadow: inset 0 100px 0 0 red;
  transition: ease-out 0.9s;
}
